<div class="flex-row">
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card appearance="outlined" class="search-card">
      <mat-card-title class="user-list-title">Users</mat-card-title>
      <mat-card-content class="flex-col" >

        <div class="flex-row gap-10 flex-wrap">
          <!-- Examples of filtering in Angular -->

          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput data-test="todoOwnerInput" placeholder="Filter by owner"
              [(ngModel)]="todoOwner">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Contains</mat-label>
            <input matInput data-test="todoBodyInput" placeholder="Filter by contains"
              [(ngModel)]="todoBody">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Limit Display</mat-label>
            <input matInput data-test="todoLimitInput" type="number" placeholder="Limit display"
              min="0" max="200">
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

        </div>

        <div class="flex-row gap-10 flex-wrap">
          <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="todoStatus" data-test="todoStatusSelect">
              <mat-option>--</mat-option>
              <mat-option value="incomplete">Incomplete</mat-option>
              <mat-option value="complete">Complete</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="todoCategory" data-test="todoCategorySelect">
              <mat-option>--</mat-option>
              <mat-option value="software design">Software Design</mat-option>
              <mat-option value="video games">Video Games</mat-option>
              <mat-option value="homework">Homework</mat-option>
              <mat-option value="groceries">Groceries</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="flex-row">
    @if (serverFilteredTodos) {
      <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" >
        <div>
            <mat-nav-list class="todo-nav-list">
              <h3 mat-subheader>Todos</h3>
                @for (user of this.filteredTodos; track todo._id) {
                  <a mat-list-item [routerLink]="['/todos', todo._id]" class="todo-list-item">
                      <span matListItemTitle mat-line class="todo-list-name"> {{todo.owner}} </span>
                      <span matListItemLine class="todo-list-status"> {{todo.status}} </span>
                      <span matListItemLine class="todo-list-body"> {{todo.body}} </span>
                      <span matListItemLine class="todo-list-category"> {{todo.category}} </span>
                    </a>
                  }
                </mat-nav-list>
        </div>
      </div>
    } @else {
      <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="user-error">
        <mat-error>
          There was a problem loading the users. Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
        <mat-error>
          Error message: {{ this.errMsg }}
        </mat-error>
        <mat-error>
          Please wait a bit and try again or start the server.
        </mat-error>
      </div>
    }

    <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->

  </div>
